nav {
  display: flex;
  height: 120px;
  background: #ff6f61;
  color: #ffffff;
  align-content: center;
  border-radius: 5px;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  bottom: 0;
  span {
    margin : 1.5em;
    font-size: 2.5rem;
    font-family: 'Bungee', cursive;
  }
  #newtweet{
    margin : 1.5em;
    font-size: 1.3rem;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
  }
  p {
    margin-bottom: 3px;
  }
  i{
    position: absolute;
    font-size:24px;
  
    color:orange;
  }
  #newtweet button {
    background: transparent;
    border: none;
    height: auto;
  }
}


.move-up-and-down {
  animation: MoveUpDown 1s linear infinite;
  color:red;
  position: absolute;
  bottom: 0.5rem;
}
@keyframes MoveUpDown {
  0%, 100% {
    bottom: 0.5rem;
  }
  50% {
    bottom: 1rem;
  }
}