.new-tweet{
  display: flex;
  flex-direction: column;
}
section .textbox{
  border-bottom: 5px solid #545149;
  margin-bottom: 0.5em;
}
section .count-text{
  display: flex;
  justify-content: space-between;
}
.textbox label {
  display: block;
  font-weight: 900;
  font-family: sans-serif;
  margin-bottom: 0.5rem;
}
.textbox textarea {
  display: block;
  width: 100%;
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
  height: 30px;
  padding: 0px;
  font-family: sans-serif;
}
section .count-text button{
  font-family: 'Bungee', cursive;
  background-color:#4056A1;
  border-radius: 5px;
  color:white;
}
section .count-text output{
  font-family: 'Bungee', cursive;
  color: #545149;
}