#tweets {
  border: 4px solid #545149;
  height: 12rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
#tweets header {
  margin-top: 1.65rem;
}
#tweets img {
  width: 3rem;
  height: 3rem;
  margin : 1rem;
}
#tweets #tweetCoordheader{
  height: 3rem;
  display: flex;
  justify-content: space-between;
}
#tweets #tweetCoordheader2{
  display: flex;
}
#tweets #tweetCoordheader h5{
 margin-top: 1.8rem;
 margin-right: 2rem;
}
#tweets #tweetCoordContent{
  display: flex;
  justify-content: center;
  border-bottom: 4px solid #545149;
  height: 6rem;
  margin-left: 5%;
  margin-right: 5%;
}
#tweets #tweetCoordContent h6{
  font-family: sans-serif;
  font-size: 1.2rem;

}
#tweets #tweetCoordFooter {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
}
#tweets #tweetCoordFooter span {
  margin-left: 2.5rem;
  margin-top: 0.5rem;
}
#tweets #tweetCoordFooter #tweetCoordFooterIcons{
  margin-top: 0.5rem;
  margin-right: 1.5rem;
}
#tweetCoordFooterIcons i{
  margin: 0.3rem;
}